{% extends "base.html" %}
{%block title%} 
NFT Minter
{%endblock%}
{%block content%} 
<link rel="stylesheet" href="style.css">
<div class="container">
<h2>Mint Your NFT</h2>
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload the image you want to make into an NFT</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <button type="button" class="btn btn-dark">Mint NFTs</button>
</div>
{%endblock%}

<button class='myButton' id='connectWallet' onclick="">Connect Wallet</button>
<button id='getBalance' onclick="checkBalance()">Get Balance of Wallet</button>

<p id="walletAddress"></p>
<p id="walletBalance"></p>

<script type="text/javascript">
  window.userWalletAddress = null
  const connectWallet = document.getElementById('connectWallet')
  const walletAddress = document.getElementById('walletAddress')
  const walletBalance = document.getElementById('walletBalance')



  function checkInstalled() {
    if (typeof window.ethereum == 'undefined') {
      connectWallet.innerText = 'MetaMask isnt installed, please install it'
      connectWallet.classList.remove()
      connectWallet.classList.add()
      return false
    }
    connectWallet.addEventListener('click', connectWalletwithMetaMask)
  }

  async function connectWalletwithMetaMask() {
    const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
    .catch((e) => {
    console.error(e.message)
    return
    })

    if (!accounts) { return }

    window.userWalletAddress = accounts[0]
    walletAddress.innerText = window.userWalletAddress

    connectWallet.innerText = 'Sign Out'
    connectWallet.removeEventListener('click', connectWalletwithMetaMask)
    setTimeout(() => {
      connectWallet.addEventListener('click', signOutOfMetaMask)
    }, 200)

  }


  function signOutOfMetaMask() {
    window.userwalletAddress = null
    walletAddress.innerText = ''
    connectWallet.innerText = 'Connect Wallet'

    connectWallet.removeEventListener('click', signOutOfMetaMask)
    setTimeout(() => {
      connectWallet.addEventListener('click', connectWalletwithMetaMask)
    }, 200  )
  }

  async function checkBalance() {
    let balance = await window.ethereum.request({ method: "eth_getBalance",
    params: [
      window.userWalletAddress,
      'latest'
    ]
  }).catch((err)=> {
      console.log(err)
  })

  console.log(parseFloat((balance) / Math.pow(10,18)))

  walletBalance.innerText = parseFloat((balance) / Math.pow(10,18))
}

  window.addEventListener('DOMContentLoaded', () => {
    checkInstalled()
  })

</script>