{% extends "images.html" %}
<div class="input-group">
                         <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                           <option value=beautiful_mosque_by_the_water>beautiful_mosque_by_the_water</option><option value=my_dear_melancholy>my_dear_melancholy</option>
                         </select>
                         <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
{%endblock%}